<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DEVELOPUSER" value="1" />
    <add key="PROCESS_PRIORITY" value="Normal" />
    <add key="UI_LOG_PATH" value="c:\Logs\UI\" />
    <add key="LOG_PATH" value="c:\Logs" />
    <add key="LOG_EXPIRATION_DAYS" value="10" />
    <add key="LOG_LEVEL" value="Verbose" />
    <add key="LOGGER_SYSTEM" value="use=1, type=file, path=\System_{mm}{dd}{h}.log, output={ts} [{ln}] [{cat}:{cod}] {msg}" />
    <add key="LOGGER_EVENT" value="use=1, type=event, output=[{cat}:{cod}]{msg}" />
    <add key="LOGGER_FILE" value="use=1, type=file, path=\App_{mm}{dd}{h}.log, output={ts} [{ln}] [{cat}:{cod}] {msg}" />
    <add key="REPOSITORY_MODE" value="DB" />
    <!--<add key="CLIENT_ID" value="1" />
    <add key="REFERENCE_ELEMENTS" value="43" />-->

    <add key="CLIENT_ID" value="7" />
    <add key="REFERENCE_ELEMENTS" value="114" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DB_CONNECTION" connectionString="Persist Security Info=False;Integrated Security=False;database=COUPANG_YS;server=localhost\SQLEXPRESS;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <runtime>

    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342"/>
        <bindingRedirect oldVersion="4.100.0.0" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>